/*
font-family: 'Yeseva One', cursive;
font-family: 'Gentium Book Basic', serif;
font-family: 'Lato', sans-serif;
*/
body{
	background-color: #191919;
	font-family: 'Yeseva One', cursive;
	color: #f8f7f4;
	padding-bottom: 30px;
}
ul{
	margin: 0;
	padding: 0;
}
.wrapper{
	background-image: url(../img/promo-bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	padding-bottom: 3%;
	height: 100%;
}
header{
	padding-top: 0;
	height: 100px;
}
header img{
	padding-top: 10px;
}
header ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	/*align-items: flex-end;*/

	height: 100%;
}
header li{
	padding-top: 30px;
	border-top: 3px solid transparent;
	list-style-type: none;
}
header li:hover{
	border-top: 3px solid #fff;
}
header li:last-child{
	border: none;
}
header i{
	font-size: 25px;
	color: #dab33e;
	padding-left: 8px;
	transition: ease 0.5s all;
}
/*header i:last-child{
	padding-right: 0;
}*/
header #fb i:hover{
	color:#3B5998;
	-webkit-text-shadow: 0px 0px 7px #fff;
	text-shadow: 0px 0px 7px #fff;
}
header #tw i:hover{
	color:#55ACEE;
	-moz-text-shadow: 0px 0px 7px #fff;
	text-shadow: 0px 0px 7px #fff;
}
header #yt i:hover{
	color:red;
	-moz-text-shadow: 0px 0px 7px #fff;
	text-shadow: 0px 0px 7px #fff;

}
header a{
	padding-top: 60px;
	text-decoration: none;
	color: #f8f7f4;
}
header a:hover{
	text-decoration: none;
	color: #f8f7f4;
}
header a:last-child
.promo{
	text-align: center;
}
.promo-btns{
	text-align: center;
}
.promo h1{ 
	text-align: center;
	padding-top: 10%;
	font-family: 'Yeseva One', cursive;
	font-size: 90px;
	line-height: 100px;
	color: #f8f7f4;
	-webkit-text-shadow: 1px 1px 5px #000;
	-moz-text-shadow: 1px 1px 5px #000;
	text-shadow: 1px 1px 5px #000;
	background-image: url(../img/decor.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	-webkit-background-size: 30%;
	background-size: 30%;
	padding-bottom: 8%;
	margin-bottom: 6%;
}
.promo a{
	/*margin:0 20px 30px 20px;*/
	display: inline-block;
	font-family: 'Lato', sans-serif;
	padding: 13px 40px;
	background-color: rgba(248,247,244,0.2);
	color: #f8f7f4;
	text-transform: uppercase;
	border: 1px solid rgba(248,247,244,0.4);
}
.promo a:hover{
	text-decoration: none;
	background-color: rgba(0,0,0,0.6);
	border: 1px solid rgba(0,0,0,0.8) ;
}
.about{
	background-image: url(../img/about-bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	height: 100%;
	padding: 20px 0;
}
.about-content{
	text-align: center;
	padding-left: 20px;
}
.about h2{
	margin-top: 10%;
	color: #cc9900;
	font-size: 36px;
	background-image: url(../img/devider.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-top: 20px;
	padding-bottom: 45px;
}
.about p{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	padding-top: 20px;
	padding-bottom: 35px;
	color: #5d5d5d;
}
.ingred{
	background-image: url(../img/ingred-bg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	height: 100%;
}
.ingred h2{

	color: #f8f7f4;
	font-size: 36px;
	padding-bottom: 9%;
	background-image: url(../img/devider-w.png);
	background-repeat: no-repeat;
	background-position: bottom center;
}
.ingred p{
	padding: 5% 10%;
	font-family: 'Lato', sans-serif;
	font-size: 16px;

}
.ingred-content{
	background-color: rgba(0,0,0,0.6);
	margin: 10% 0;
	text-align: center;
	width: 100%;
	padding: 10% 0;
}
.ingred-content img{
	padding-right: 5%;
}
.ingred-content img:last-child{
	padding-right: 0;
}
.menu{
	background-image: url(../img/menu-bg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.menu-content{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
}
.menu-block{
	width: 500px;
	margin: 10px 20px;
}
.menu h2{
	background-image: url(../img/devider.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	font-family: 'Yeseva One', cursive;
	color: #cc9900;
	font-size: 36px;
	padding-bottom: 30px;
	text-align: center;
}
.menu h3{
	text-align-last: justify;
	font-family: 'Yeseva One', cursive;
	color: #cc9900;
	font-size: 21px;
	border-bottom: 1px solid #cc9900;
	margin-bottom: 15px;
}
.menu p{
	font-family: 'Yeseva One', cursive;
	font-size: 16px;
	color: #4c4c4c;
	margin: 0;
}
.menu li{
	padding: 12px;
}
.menu .special{
	border: 1px solid #cc9900;
}
.menu .special span{
	background-color: #cc9900;
	text-transform: uppercase;
	font-size: 11px;
	padding: 0 2px;
	position: absolute;
	margin: -2.5% 0 0 38.4%
}
.review{
	background-image: url(../img/review-bg.jpg);
	background-repeat: no-repeat;
	background-position: top center;	
}
.review-content{
	width: 100%;
	margin: 45px 0;
	padding: 30px;
	background-color: rgba(0,0,0,0.7);
	text-align: center;
	color: #dde0df;
}
.review-content h2{
	background-image: url(../img/devider-w.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	padding-bottom: 30px;
	font-family: 'Yeseva One', cursive;
	font-size: 36px;
	color: #fff;
}
.review-content p{
	font-size: 25px;
	font-family: 'Gentium Book Basic', serif;
}
.review-content p span{
	font-size: 18px;
}
.review-content i{
	color: #a1a5a3;
}
.reservations{
	background-image: url(../img/reserv-bg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	padding-top: 60px;
	padding-bottom: 60px;
}
.reservations .reserv-images{
	display: flex;
}
.reservations .reserv-images img{
	margin-right: 20px;
}
.reservations .reserv-images img:last-child{
	margin-right: 0;
}
.reservations h2{
	color: #cc9900;
	padding-bottom: 30px;
	background-image: url(../img/devider.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	text-align: center;
}
.reservations p{
	font-family: 'Lato', sans-serif;
	text-align: center;
	color: #4c4c4c;
}
.resrvation-content{
	text-align: center;
}
.booking-form{
	margin: 5% 10%;
	max-width: 450px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	
	justify-content: space-between;
}
.booking-form input{
	width: 180px;
	height: 40px;
	font-style: italic;
	font-size: 13px;
	color: #b7bbb9;
	border: 1px solid #b7bbb9;
}

.booking-form input:focus{
	border: 1px solid #cc9900;
}
.booking-form p{
	text-align: left;
	color: #cc9900;
	font-weight: bold;
}
.resrvation-content a{
	background-color: #cc9900;
	text-align: center;
	padding: 8px 45px;
	font-family: 'Lato', sans-serif;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}
footer{
	color: #9a9c9b;
}
footer div{
	text-align: center;
	margin-top: 3%;
}
footer h4{
	font-size: 21px;
}
footer p{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	text-align: center;
}
footer i{
	margin-top: 4%;
}
footer a{
	color: #fff;
}
footer #fb i:hover{
	color:#3B5998;
	}
footer #tw i:hover{
	color:#55ACEE;
	}
footer #yt i:hover{
	color:red;
	}
	